/* Disable Scroll on Loading */
main:has(.crisp-header.is--loading) {
    height: 100dvh;
}

/* Loader */

.crisp-loader {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1vw;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.crisp-loader__wrap {
    font-size: var(--size-font);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.crisp-loader__groups {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.crisp-loader__group {
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-shrink: 0;
}

.crisp-loader__single {
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

.crisp-loader__media {
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    display: flex;
    position: relative;
}

.crisp-loader__media.is--scaling {
    will-change: transform;
    border-radius: 0;
    transition-property: border-radius;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    display: flex;
}

.crisp-loader__cover-img {
    object-fit: cover;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
}

.crisp-loader__media.is--scaling.is--radius {
    border-radius: 0.5em;
}

.crisp-loader__group.is--relative {
    position: relative;
    left: 100%;
}

.crisp-loader__group.is--duplicate {
    position: absolute;
}

.crisp-loader__cover-img.is--scale-down {
    will-change: transform;
}

.crisp-loader__fade {
    pointer-events: none;
    background-image: linear-gradient(90deg, #eaeaea 20%, #0000);
    width: 5em;
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -1px;
}
.crisp-loader__fade.is--duplicate {
    left: auto;
    right: -1px;
    transform: scaleX(-1);
}

/* Header */

.crisp-header {
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: opacity 0.3s ease-out;
}

/* Loading: Hidden */
.crisp-header.is--loading.is--hidden {
    display: none;
}

/* Loading: is Loading */
.crisp-header.is--loading .crisp-header__slider {
    display: none;
}

.crisp-header.is--loading .crisp-loader {
    display: flex;
}

/* Loading: Loading Done */
.crisp-loader {
    display: none;
}

/* Show slider and content after loading */
.crisp-header:not(.is--loading) .crisp-header__slider,
.crisp-header:not(.is--loading) .crisp-header__content {
    opacity: 1;
}

.crisp-header__content {
    color: #f4f4f4;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    padding: 2.5em;
    display: flex;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.crisp-header__top {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}

.crisp-header__center {
    width: 100%;
    padding: 1.5em;
    position: absolute;
    left: 0;
}

.crisp-header__bottom {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-flow: column;
    align-items: center;
    margin-top: auto;
    display: flex;
}

.collide-logo {
    color: unset;
    width: 8em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.collide-logo__img {
    display: block;
    height: auto;
    max-width: 100%;
    filter: brightness(0) invert(1);
}

.crisp-header__hamburger {
    grid-column-gap: 0.375em;
    grid-row-gap: 0.375em;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    display: flex;
}

.crisp-header__hamburger-bar {
    background-color: currentColor;
    width: 1.875em;
    height: 0.125em;
}

.crisp-header__slider-list {
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
}

.crisp-header__slider-nav {
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    padding: 1em;
    display: flex;
    position: relative;
    overflow: hidden;
}

.crisp-header__slider-nav-btn {
    cursor: pointer;
    border: 1px solid #0000;
    border-radius: 0.25em;
    width: 3.5em;
    height: 3.5em;
    position: relative;
    transition: border-color 0.75s cubic-bezier(0.625, 0.05, 0, 1);
}
.crisp-header__slider-nav-btn img {
    transform: scale(1) rotate(0.001deg);
    transition: transform 0.75s cubic-bezier(0.625, 0.05, 0, 1);
}

.crisp-header__slider-nav:has(.crisp-header__slider-nav-btn:hover) img {
    transform: scale(0.825) rotate(0.001deg);
}

.crisp-header__slider-nav:has(.crisp-header__slider-nav-btn:hover)
    .crisp-header__slider-nav-btn:hover
    img {
    transform: scale(1) rotate(0.001deg);
}

.crisp-header__slider-nav-btn.is--current {
    border-color: #f4f4f4;
}

.crisp-header__p {
    text-align: center;
    font-size: 1.125em;
}

.crisp-header__slider {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border-radius: 0.5em;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.crisp-header__slider-slide {
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    grid-area: 1 / 1 / -1 / -1;
    place-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
}

.crisp-header__slider-slide.is--current {
    opacity: 1;
    pointer-events: auto;
}

.crisp-header__slider-slide-inner {
    object-fit: cover;
    will-change: transform;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.2s ease-out;
}

.crisp-header__a {
    color: inherit;
    text-decoration: none;
}

.crisp-header__h1 {
    text-align: center;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 0.125em;
    font-family:
        Haffer XH,
        Arial,
        sans-serif;
    font-size: calc(5vw + 5dvh);
    font-weight: 400;
    line-height: 0.95;
}

.crisp-header__h1 > * {
    margin: -0.1em -0.05em;
    padding: 0.1em 0.05em;
}
